<!-- 
----------------------------------------------------
account-create component : Home Page
----------------------------------------------------
-->

<div id="carousel-example-1z">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item active">
      <div class="view"
        style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); background-repeat: no-repeat; background-size: cover;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="s01" id="firstSearchBox">
            <form>
              <fieldset>
                <legend>Discovering Places</legend>
              </fieldset>
              <div class="inner-form justify-content-center">
                <div class="input-field third-wrap">
                  <!-- (click) = "onSearch()" -->
                  <button class="btn-search" type="button" (click)="locate()"> Search</button>
                </div>
                <div id="locationDiv" style="display:none;">
                  <input type="text" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">{{ location }}
                </div>
              </div>
            </form>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
    </div>
    <!--/Second slide-->
  </div>
  <!--/.Slides-->
</div>
<div id="search_results" style="width:600px;height:300px !important;display:none;">
  <div class="s01">
    <form>
      <div class="inner-form" style="background-color:white!important;">
        <div class="input-field first-wrap">
          <input id="searching" style="border:2px solid #32164d;" type="text" placeholder="Destination" />
        </div>
        <div class="input-field third-wrap" style="width: 100px;">
          <button class="btn-search" type="button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>