<!-- 
----------------------------------------------------
account-list component : Locations Page
----------------------------------------------------
-->



<main class="mt-5 mb-4 deep-purple-text">
  <div class="container">
    <!--Grid row-->
    <div class="row text-left">
      <h1>{{ city }} </h1>
    </div>
    <hr style="opacity: 0;">
    <div class="row text-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-4">
        <div class="card waves-effect" style="width: 18rem;height: 18rem">
          <img class="card-img-top" src="{{ src1 }}" alt="{{ loc1 }}" height="230px">
          <div class="card-body">
            <h5 class="card-title">{{ loc1 }}</h5>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4">
        <div class="card waves-effect" style="width: 18rem;height: 18rem">
          <img class="card-img-top" src="{{ src2 }}" alt="{{ loc2 }}" height="230px">
          <div class="card-body">
            <h5 class="card-title">{{ loc2 }}</h5>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-4">
        <div class="card waves-effect" style="width: 18rem;height: 18rem">
          <img class="card-img-top" src="{{ src3 }}" alt="{{ loc3 }}" height="230px">
          <div class="card-body">
            <h5 class="card-title">{{ loc3 }}</h5>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->