<!-- 
----------------------------------------------------
Contact-list component : Login Page
----------------------------------------------------
-->



<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fkempasjaya.com%2Fimages%2Floginlogo.png&f=1"
					alt="IMG">
			</div>

			<form class="login100-form validate-form">
				<span class="login100-form-title">
					Login
				</span>

				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input class="input100" type="text" name="email" placeholder="Email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input class="input100" type="password" name="pass" placeholder="Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Login
					</button>
				</div>

				<div class="text-center p-t-12">
					<span class="txt1">
						Forgot
					</span>
					<a class="txt2" [routerLink]="['/login']" routerLinkActive="router-link-active">
						Username / Password?
					</a>
				</div>

				<div class="text-center p-t-136">
					<a class="txt2" [routerLink]="['/signup']" routerLinkActive="router-link-active">
						Create your Account
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>