<!-- 
----------------------------------------------------
nav component : NavBar
----------------------------------------------------
-->


<nav class="navbar sticky-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar" style="background-color:#3E1B60!important;">
  <div class="container">
    <a class="navbar-brand" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
      <strong>Logo</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="signup" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="login" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 3E1B60 -->