<!-- 
----------------------------------------------------
footer Component : Footer
----------------------------------------------------
-->

<footer class="footer-distributed">
	<div class="footer-left">
		<h3>LOGO</h3>
		<p class="footer-links">
			<a href="#">Home</a>
			|
			<a href="#">Register</a>
			|
			<a href="#">Login</a>
			|
			<a href="#">About</a>
		</p>
		<p class="footer-company-name">Company Name &copy; 2015</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>21 Revolution Street</span> Paris, France</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+1 555 123456</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com" id="supportMail">support@company.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>About the company</span>
			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
			sit amet.
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fab fa-facebook-f" id="facebook" style="font-size:1.5em;"></i></a>
			<a href="#"><i class="fab fa-twitter" id="twitter" style="font-size:1.5em;"></i></a>
			<a href="#"><i class="fab fa-linkedin-in" id="linkedin" style="font-size:1.5em;"></i></a>
			<a href="#"><i class="fab fa-github-square" id="github" style="font-size:1.5em;"></i></a>
		</div>
	</div>
</footer>